<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.empowerment.salesrobot">

    <!--麦克风权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录-->
        <activity android:name=".ui.activity.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <!--主页面-->
        <activity android:name=".ui.activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--待办事宜-->
        <activity android:name=".ui.activity.AgencyAffairsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--客户资料-->
        <activity android:name=".ui.activity.CustomerInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--客户资料详情-->
        <activity android:name=".ui.activity.InformationActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--ViP客户-->
        <activity android:name=".ui.activity.VIPActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--编辑资料-->
        <activity android:name=".ui.activity.EditActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--添加客户-->
        <activity android:name=".ui.activity.AddVIPActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--新品买点-->
        <activity android:name=".ui.activity.NewPointActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--新品详情-->
        <activity android:name=".ui.activity.NewPointInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--产品销售-->
        <activity android:name=".ui.activity.ProductSalesActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--产品列表-->
        <activity android:name=".ui.activity.CarBrandActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--加载web-->
        <activity android:name=".ui.activity.ContentInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--培训文档-->
        <activity android:name=".ui.activity.TrainingDocumentsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--培训视频-->
        <activity android:name=".ui.activity.TrainingVideoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--播放视频-->
        <activity android:name=".ui.activity.PlayVideoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--训练-->
        <!--设置-->
        <activity android:name=".ui.activity.SeetingsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--现场记录-->
        <activity android:name=".ui.activity.FieldRecordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <!--聊天室-->
        <activity android:name=".ui.activity.RoBotIMActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!--个人资料-->
        <activity android:name=".ui.activity.PersonalMainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--资料设置-->
        <activity android:name=".ui.activity.ModificationActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--版本更新-->
        <activity android:name=".ui.activity.UpdateActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--我的心得-->
        <activity android:name=".ui.activity.MyUnderstandActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--心得详情-->
        <activity android:name=".ui.activity.UnderstandInfoActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!--编辑心得-->
        <activity android:name=".ui.activity.EditUnderstandActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>



        <!--Android 7.0相机调用-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.empowerment.salesrobot.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>